/* Vitor Dicas - Folha de estilo */

html, body {
  background-color: #EDEDED !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.intro {
text-align: center;
padding-top: 3%;
padding-bottom: 13%;
margin-bottom: 50px;
}

.intro h1 {
    font-weight: 500;
    text-transform: uppercase;
}

.intro h4 {
    text-transform: uppercase;
    padding: 1px;
    color: #333333;
    display: inline-block;
    font-size: 2rem;
}

.intro h3 {
    text-transform: uppercase;
    padding: 1px;
    color: #333333;
    display: inline-block;
    font-size: 1rem;
}

.intro h5 {
  text-transform: uppercase;
  padding: inherit;
  color: #333333;
  display: inline-block;
  font-size: 1.5rem;
}
